<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.mybatisuse.dao.MyBatisUseMapper">
    <!-- 注释：下载该公司所有用户 -->
    <select id="downAllUseByCompany" resultType="com.lh.mybatisuse.model.MyBatisAllUseModel" parameterType="java.lang.String">
        SELECT
        id
        ,nickName
        ,stopSign
        FROM  sys_useInfo
        <where>
            AND companyName = #{companyName,jdbcType=VARCHAR}
        </where>
        ORDER BY workTime
    </select>
    <!-- 注释：得到用户NickName -->
    <select id="selectUseNickNameList" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
        nickName
        FROM  sys_useInfo
        <where>
            AND endDate > now()
            AND roleId = #{roleId,jdbcType=VARCHAR}
            AND stopSign = '0'
        </where>
        ORDER BY nickName
    </select>


    <!-- 注释：得到用户ID -->
    <select id="selectUseId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
        id
        FROM  sys_useInfo
        <where>
            AND nickName = #{nickName,jdbcType=VARCHAR}
            AND endDate > now()
            AND stopSign = '0'
        </where>
    </select>

    <!-- 注释：修改Token -->
    <update id="updateAccessToken" parameterType="com.lh.mybatisuse.model.InPutParam.MyBatisUseInsertInParam">
        UPDATE inf_accessToken
        <set>
            <if test="useId != null">
                useId = #{useId,jdbcType=VARCHAR},
            </if>

            <if test="useType != null">
                useType = #{useType,jdbcType=VARCHAR},
            </if>
            <if test="clientType != null">
                clientType = #{clientType,jdbcType=VARCHAR},
            </if>
            <if test="accessToken != null">
                accessToken = #{accessToken,jdbcType=VARCHAR},
            </if>
            <if test="tokenEffective != null">
                tokenEffective = #{tokenEffective,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="useId != null">
                AND useId = #{useId,jdbcType=VARCHAR}
            </if>
            <if test="useType != null">
                AND useType = #{useType,jdbcType=VARCHAR}
            </if>
            <if test="clientType != null">
                AND clientType = #{clientType,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!-- 注释：增加或修改Token -->
    <insert id="insertIntoAccessToken" parameterType="com.lh.mybatisuse.model.InPutParam.MyBatisUseInsertInParam">
        INSERT INTO inf_accessToken (
        useId
        ,useType
        ,clientType
        ,accessToken
        <if test="tokenEffective != null">
            ,tokenEffective
        </if>
        )
        VALUES (
        #{useId,jdbcType=VARCHAR}
        ,#{useType,jdbcType=VARCHAR}
        ,#{clientType,jdbcType=VARCHAR}
        ,#{accessToken,jdbcType=VARCHAR}
        <if test="tokenEffective != null">
            ,#{tokenEffective,jdbcType=TIMESTAMP}
        </if>
        )
    </insert>

    <!-- 注释：用户登录 -->
    <select id="useLog" resultType="com.lh.mybatisuse.model.MyBatisUseModel" parameterType="com.lh.mybatisuse.model.InPutParam.MyBatisUseSelectInParam">
        SELECT
        id
        ,nickName
        ,passWord
        ,mobile
        ,email
        ,endDate
        ,companyName
        ,roleId as useType
        ,stopSign
        FROM  sys_useInfo
        <where>
            <if test="useName != null">
                OR useName = #{useName,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null">
                OR mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                OR email = #{email,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!-- 注释：修改密码 -->
    <update id="updatePassWord" parameterType="com.lh.mybatisuse.model.InPutParam.MyBatisUseUpdateInParam">
        UPDATE sys_useInfo
        <set>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nickName = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="useName != null">
                useName = #{useName,jdbcType=VARCHAR},
            </if>
            <if test="passWord != null">
                passWord = #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null">
                endDate = #{endDate,jdbcType=DATE},
            </if>
            <if test="companyName != null">
                companyName = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                roleId = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="stopSign != null">
                stopSign = #{stopSign,jdbcType=BIT},
            </if>
            <if test="workTime != null">
                workTime = #{workTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="idWhere != null">
                AND id = #{idWhere,jdbcType=VARCHAR}
            </if>
            <if test="nickNameWhere != null">
                AND nickName = #{nickNameWhere,jdbcType=VARCHAR}
            </if>
            <if test="useNameWhere != null">
                AND useName = #{useNameWhere,jdbcType=VARCHAR}
            </if>
            <if test="passWordWhere != null">
                AND passWord = #{passWordWhere,jdbcType=VARCHAR}
            </if>
            <if test="mobileWhere != null">
                AND mobile = #{mobileWhere,jdbcType=VARCHAR}
            </if>
            <if test="emailWhere != null">
                AND email = #{emailWhere,jdbcType=VARCHAR}
            </if>
            AND endDate > now()
            <if test="companyNameWhere != null">
                AND companyName = #{companyNameWhere,jdbcType=VARCHAR}
            </if>
            <if test="roleIdWhere != null">
                AND roleId = #{roleIdWhere,jdbcType=VARCHAR}
            </if>
            AND stopSign = '0'
            <if test="workTimeWhere != null">
                AND workTime = #{workTimeWhere,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>
</mapper>
